/*[class^='col']{
    background-color: rgb(141, 59, 255);
    border: 2px solid black;
    height: 50px;
}*/

nav{
    background-color: #2C3D50;
}

header, footer, .my_about{
    color: white;
}

.my_jumbo, .my_about{
    background-color: #1ABC9C;
}

.my_jumbo img{
    width: 150px;
}

.my_jumbo h2{
    width: 50%; 
    text-align: center; 
    border-bottom: 3px solid #fff; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.my_jumbo h2 span{
    background:#1ABC9C; 
    padding:0 10px; 
}
.my_portfolio h2{
    width: 70%; 
    text-align: center; 
    border-bottom: 3px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.my_portfolio h2 span{
    background:#fff; 
    padding:0 10px; 
}

.my_about h2{
    width: 50%; 
    text-align: center; 
    border-bottom: 3px solid #fff; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.my_about h2 span{
    background:#1ABC9C; 
    padding:0 10px; 
}

.my_contact h2{
    width: 70%; 
    text-align: center; 
    border-bottom: 3px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.my_contact h2 span{
    background:#fff; 
    padding:0 10px; 
}

.my_contact form{
    width: 100%;
}

.my_main-footer{
    background-color:#39546D ;
}

.my_circle {
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .my_icons{
    width: 100%;
  }

  .my_bottom-footer{
    background-color: #2C3D50;
    font-size: 0.7rem;
  }